.speech{font-family:'Times New Roman', Times, serif; 
    font-size: 17px;
     color: black;}

.stage{font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    color: black;
    background-color: lightblue;}
.name{font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        color: black;}
.name:hover{
    text-shadow: 2px 15px 5px black;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
    transition: transform .3s;
    transform: scale(1.009); 
}

.stage:hover{background-color:lightslategrey; color: red;}

.KINGHENR{font-style: italic;color:lightgreen;}

.WESTMORELAND{font-style: oblique;color: chocolate;}

table,th,td{
    
    border: 3px solid black;
    border-collapse: collapse;
    
}
th,td{
    padding: 15px;
}
th{
    text-align: center;
    border: 3px solid black;
    color:tomato;
    
}
td{
    
    text-align: center;
    color:steelblue;
}
table{
    margin: auto;
}
/* tr:nth-child(even){
    background-color: grey;
    color:black;
} */
tr:nth-last-child(1){
    background-color: grey;
    
}

